body {
    background-image: url(angel2.jpg);
background-position:; color: rgb(199, 54, 127);
font-family: cursive; font-size: 1.1em;
font-weight: 600; letter-spacing: 0.50;
line-height: 2. em;
text-align: center;
}
form {
    background-color: rgba(235, 130, 188, 0.171);
}